[Desktop Entry]
Encoding=UTF-8
Name=WmInet
Comment=Inetd Monitor
Comment[pl]=Monitor Inetd
Exec=wminet
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
